/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  margin: 20px;
}

.buttons {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
}

button {
  width: auto;
  height: 50px;
  font-size: 1.2rem;
}

.result {
  margin-top: 20px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b59c9c;
}
.calculator button{
 width: auto;
 background-color: blue;
}

.calculator h2, p{
  color: blue;
}
a {
  color: blue;
}

